/** {
  outline: 1px solid red !important;
}
*/
body {
    background-color: #efeff5;
}
.container {
  flex-wrap: wrap;
}

@media (min-width: 1200px){
  .container {
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
  }
}

h1 {
  font-size: 55px;
  font-family: "Rajdhani", sans-serif;
}
h2 {
  font-family: "Abel", sans-serif;
  color: grey;
}

.nametitle {
  text-align: right;
}
.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
.logopic {
  display: block;
  border: 2px solid white;
  border-radius: 50%;
}

@media screen and (max-width:990px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 28px;
  }
  .logo{
    display:block;
    margin:0 auto;
  }
  .nametitle {
    text-align: center;
  }
  .cover {
    margin-bottom: 20px;
  }
  .position {
    text-align: center;
  }
}

.line {
  background-color: #004d4d;
  height: 1px;
}

img {
  max-width: 100%;
}

.aboutme {
  font-size: 34px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.hithere {
  color: #8c8c8c;
}

@media screen and (max-width: 1199px) {
  .aboutme{
    font-size: 28px;
  }
  .content {
    font-size: 14px;
  }
}

.featuretitle {
  font-size: 36px;
  margin-top: 1em;
  font-family: "Fjalla One", sans-serif;
  color: black;
}

.author {
  padding-top: 10px;
  background-color: #004d4d;
  min-height: 60px;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 20px;
  color: black;
  margin-right:1.8em;
}

.position {
  padding-top: 20px;
}

.center {
  text-align: center;
}

.white {
  color: white;
}
